#phoneScreen{
  background-color: white;
}
body{
    background-color: grey;
      color: white;
      /*/*font-family:"Roboto";*/
      font-family: 'Roboto', sans-serif;
}
.phoneScreenDimention{
    height:1920px;
    min-height:1920px;
    max-height:1920px;
    width:1080px;
    min-width:1080px;
    max-width:1080px;
    padding: 0px;
}
.mainPhotoContainer{
    width: auto;
    /*height:1250px;
    min-height:1250px;
    max-height:1250px;
    /*width:1080px;*/
    /*min-width:1080px;
    max-width:1080px;*/
}

.aboutSection{
    color: #47525E;
}
.aboutSectionBG{
    background-color: #EFF2F7;
    height: 670px;
}
.aboutSectionBGCustomerProvider{
    background-color: #EFF2F7;
    height: 515px;
}
.mainPhotoContainer img{
    max-height: 100%;
    max-width: 100%;
}
#name{
    font-size:70px;
    font-weight: bold;
    /*color: #47525E;*/
}
#role{
    font-size: 45px;
    font-weight: thin;
    color: #697480;
}
#aboutText{
    margin-top: 30px;
    font-size: 40px;
}
#stars{
    color: orange;
}
.star{
    font-size:60px;
}
#scoreCount{
    font-size:40px;
}
#doBuisnessButton{
    background-color: green;

}

#noThanksButton, #doBuisnessButton{
   width: 230px;
   height: 230px;
   
}
.buttonsSection{
    /*position: absolute;*/
    margin-top: -85px;
}
.androidBar{
    height: 90px;
    margin-top: 440px;
    background-color: black;
    width: auto;
   

}
.androidIcon{
 font-size: 75px;
}


/************************** Service provider part ******************************/

.collapsible-header{
    color: #47525E;
    font-size: 65px;
}
.collapsible-body{
     color: #47525E;
}
#editButton{
   width: 130px;
   height: 130px;
   margin:40px;
}
.addButtonFont{
font-size: 80px !important;
}

#editButton.btn-large i {
    line-height: 125px;
}
.modal { width: 25% !important ; height: 25% !important ; }
.moda2 { width: 25% !important ; height: 15% !important ; }

.modalTitle{
    color: #47525E;
    font-size: 55px;
}
.modalContent{
    margin-top: 40px;
     color: #47525E;
     font-size: 45px;
}

#closeModal{
   width: 150px;
   margin-top: 60px;
   height: 150px;
   margin-left:80px;
   margin-right: 270px;
   float: left;
}
#callCustommer{
   width: 150px;
   height: 150px;
   margin-top: 60px;
   margin-left:60px; 
   margin-right: 60px;
   clear: both;
}
#callCustommer.btn-large i {
    line-height: 150px;
    font-size: 55px;
}
#closeModal.btn-large i {
    line-height: 150px;
    font-size: 55px;
}
.phoneicons{
    font-size: 55px;
}
.buttonsSectionServiceProvider{
       margin-top: -155px;
}
.hideScreen { display: none; }
.showScreen { display: block; }

#phoneCallView {
   display: none;
}
.dummyCall{
     height: 450px;
     background-color: yellow;
}